@font-face {
	font-family: 'Leckeri One';
	font-weight: 400;
	font-style: normal;
	src: url('../assets/fonts/LeckeriOne/LeckerliOne-Regular.ttf')
}

.App {
    display: flex;
    font-family: 'Leckeri One';
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}