#app {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 600px;
}