@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
	font-family: 'Roboto Light';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Roboto/Roboto-Light.ttf')
}

@font-face {
	font-family: 'Leckeri One';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/LeckeriOne/LeckerliOne-Regular.ttf')
}